.passed {
    color: green;
}

.failed {
    color: red;
    padding-top: 0.5em;
}

.started {
    padding-top: 0.5em;
    font-weight: bold;
}

.finished {
    border: 1px solid black;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#playback {
    font-weight: bold;
}
